.top-div {
  position: relative;
  height: 100%;
  width: 100%;
}

.map {
  height: 110%;
  width: 110%;
  margin-left: -5%;
  margin-top: -5%;
}

.address-box {
  position: absolute;
}

.add-alarm-button {

}
