alarm-map {
  .top-div {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .map {
    height: 110%;
    width: 110%;
    margin-left: -5%;
    margin-top: -5%;
  }

  .address-box {
    position: absolute;
  }

  .add-alarm-button {
    position: absolute;
    bottom: 0;
    margin-bottom: -5%;
  }

  .current-location-marker {

  }
}
